.buttonFoodPosition {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 1%;
};

.breakfastPosition {
    position: absolute;
}

.inputName{
    display: flex;
    justify-content: flex-start;
    margin-left: 1%;
    margin-top: 0.5%;
    margin-right: 55%;
    width: 45%;
    flex-direction: row;
}

.colorIn {
    background: white;
}

.fontProp {
    font-family: B612;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

.subCap {
    display:flex;
    flex-direction: row;
}

.comandOrderStyle{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: white;
    margin-left: 400px;
}

.bottonBreak {
    float: left;
}

.bottonMeal{
    float: right;
}

.buttonsmenu{
    background: #5F5656; 
}

.commandStyle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    float: right;
    margin-right: 1%;
    width: 100%;
    background: #E0E0E0;
}

.buttons-food{
    display: flex;
    float: left;
    margin-left: 1%;
    width: 48%;
    height: 750px;
    background: #5F5656;
  }
  
  .commandPosition {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    float: right;
    margin-right: 1%;
    width: 48%;
  }