@import url('https://fonts.googleapis.com/css?family=B612|Charmonman');

.tittle{
    color: #FBC507;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: 'B612', sans-serif;
    font-size: 48px;
}

.tittle-p{
    font-family: 'Charmonman', cursive;
    font-size: 64px;
}