.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center flex-end;
  background: #000000;
  margin-top: 2%;
  width: 100%;
  height: 80px;
}

.button-position{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.buttons-food{
  display: flex;
  justify-content: center flex-start;
  margin-left: 1%;
  margin-block-end: 0.5%;
  margin-right: 1%;
  width: 45%;
  height: 750px;
  background: #5F5656;
}


