body {
  background-image: url("https://github.com/March-Hdz-Carba/gdl002-burger-queen/blob/desarrollo/imagen/ladrillos.jpg?raw=true");
  margin: 0; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
